{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">All Assigned Exams</li>
{% endblock breadcrumb %}

{% block content %}

<table class="table table-bordered">
    <tr>
        <th>Exam</th>
        <th>Duration</th>
        <th>Assigned Date</th>
        <th>Action</th>
    </tr>
    {% if user_exam_list %}
    {% for user_exam in user_exam_list %}
    <tr>
        <td class="align-middle">{{ user_exam.exam.title }}</td>
        <td class="align-middle">{{ user_exam.exam.duration }} mins</td>
        <td class="align-middle">{{ user_exam.assigned_on }} </td>
        <td class="align-middle"> <a href="{% url 'enroll_exam' user_exam.id %}" class="btn btn-sm btn-primary">Enroll</a>
            <a href="" class="btn btn-sm btn-success">Result</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h3 class="text-center text-warning">Please Login to get assigned exam list</h3>
    {% endif %}
</table>

{% endblock content %}